<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://howdyserverless.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/67a2537f-d906-4f32-9eda-a51708827ea3/resourceGroups/Howdy-AZ-Functions/providers/Microsoft.Web/sites/HowdyServerless</ResourceId>
    <UserName>$HowdyServerless</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://howdyserverless.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>